<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WMTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <WMTool.Properties.Settings>
      <setting name="configSaveImageFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="configServer" serializeAs="String">
        <value />
      </setting>
      <setting name="configDatabase" serializeAs="String">
        <value />
      </setting>
      <setting name="configPreProd" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="configQuerySQL" serializeAs="String">
        <value />
      </setting>
      <setting name="configSaveCSVFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="configSaveTripExceptionCSVFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="configSaveCECFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="configAccessKey" serializeAs="String">
        <value />
      </setting>
      <setting name="configSecretKey" serializeAs="String">
        <value />
      </setting>
      <setting name="configBucketName" serializeAs="String">
        <value />
      </setting>
      <setting name="configQuerySearchCEC" serializeAs="String">
        <value />
      </setting>
    </WMTool.Properties.Settings>
  </userSettings>
</configuration>